<!DOCTYPE html>
<html lang="en">
<head>
  <title>SDG 12</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: rgb(255, 255, 255);
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #2cc3f1;
}

</style>
</head>
<body>

<ul>
  <li><a href="/workspace/Progetto_SDG_12/SDG12/src/app/pagina.component.html">Home</a></li>
  <li><a href="/workspace/Progetto_SDG_12/SDG12/src/app/pagina2.component.html">Utilizzo della Materia</a></li>
  <li><a href="/workspace/Progetto_SDG_12/SDG12/src/app/pagina3.component.html">Spreco di Cibo</a></li>
  <li><a href="/workspace/Progetto_SDG_12/SDG12/src/app/pagina4.component.html">Spreco nei diversi Continenti</a></li>
  <li><a class="active" href="/workspace/Progetto_SDG_12/SDG12/src/app/pagina5.component.html">Uso della Plastica</a></li>
</ul>  

<div class="text-center" style="margin-bottom:0">
  <img src="https://datatopics.worldbank.org/sdgatlas/goal-12-responsible-consumption-and-production/static/media/WORLD_SDG_01-17_Final-12.68b6e2e4.png" alt="SDG12" width="400" height="400">
</div>

<div class="text-center" style="margin-bottom:0">
  <h3 class="text-danger">Uso della plastica</h3>
</div>

<div class="w3-container" style="margin-bottom:0">
  <br>
  <p>Come ben sappiamo, nel mondo, uno dei materiali più utilizzati è la plastica, viene sfruttata in qualsiasi settore perché è facile da creare e modellare.</p>
  <br>
  <p>Nel nostro periodo, durante la pandemia dovuta al virus, l’utilizzo della plastica è aumentato smisuratamente, a causa delle protezioni necessarie per conservare il cibo e non metterlo a contatto con tutti i corpi estranei, ma oltre alle misure necessarie per proteggere il cibo, c’è anche da tener conto di tutte le mascherine e i flaconi di gel disinfettante che sono stati prodotti nello stesso periodo, che tutt’ora vengono ancora prodotti e aumentano di molto i rifiuti in plastica.</p>
  <br>
</div>

<div class="text-center" style="margin-bottom:0">
  <img src="https://i.ibb.co/GMLnqGx/Schermata-2021-02-03-alle-13-50-33.png" alt="SDG12" width="624" height="236">
</div>

<div class="w3-container" style="margin-bottom:0">
  <br>
  <p>Come possibile soluzione al problema della plastica come rifiuto si potrebbe pensare alla maggior dematerializzazione del prodotto, cioè migliorare la sua biodegradabilità e tutto questo lavoro dovrebbe partire prima dell’idea di produrre la plastica, pensando a come riciclare la stessa dopo l’uso e non dopo la creazione.</p>
  <br>
  <p>Bisogna anche ricordarsi che per colpa dei rifiuti come la plastica molte specie di animali sono in via di estinzione.</p>
  <br>
  <p>Molte aziende nel mondo si stanno muovendo verso una direzione che le permetterà in futuro di adottare un sistema più green ed ecosostenibile, utilizzando carta al posto della plastica per confezionare prodotti destinati alla vendita o al trasporto, ma ancora non basta, dato che non tutte le aziende lo fanno, a causa dell’inefficienza della carta in fatto di resistenza.</p>
  <br>
  <p>Alcuni studiosi prevedono che nel futuro si utilizzerà ancora più plastica, ma quello che realmente tutti noi speriamo è che questi prodotti vadano sempre più a sparire e che vengano utilizzati solo in caso di stretta necessità, senza esagerare con le quantità.</p>
</div>

<div class="text-center" style="margin-bottom:0">
  <img src="https://i.ibb.co/HVnKD2m/Schermata-2021-02-03-alle-14-15-08.png" alt="SDG12" width="621" height="361">
</div>
